.box1{
    margin: auto;
    color: rgb(252, 70, 14);
}
.box2{
    margin: auto;
    color: cyan;
}
.juzhong{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: auto;
    background: rgb(212, 0, 255);
    width: 90%
}
body {
    background-image: url(https://z3.ax1x.com/2021/06/14/27wroF.jpg);
  }
  * {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
}

ul {
    width: 88vw;/*调节导航词排布*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

a {
    position: relative;